@use './../../styles/utils/vars';

.createEmployee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block-end: 32px;
    gap: 24px;

    form, form fieldset {
      background-color: vars.$col-background-primary;
      border-radius: vars.$radius-S;

      & label {
        display: block;
        margin-block-start: vars.$space-XS;
        margin-block-end: vars.$space-base;
      }
    
      & .address {
          margin-block-start: vars.$space-XS;
          padding-block-start: 0;
          padding-block-end: vars.$space-S;
          border-radius: vars.$radius-S;
      }

      &>input, &>select {
        width: 100%;
        height: 30px;
        border: 1px inset vars.$col-secondary;
        border-radius: vars.$radius-S;
      }

      & #department {
        margin-block-end: vars.$space-S;
      }

      & button {
        width: 100%;
        background-color: vars.$col-secondary;
        border-radius: vars.$radius-S;
        transition: 0.4s ease-in-out;
      }

      & button:hover {
        background-color: darken(vars.$col-secondary, 10%);
        color: vars.$col-white;
        
      }      
    }

    form {
      padding-inline: vars.$space-S;
      padding-block-end: vars.$space-S;
      width: 290px;
    }

    form fieldset {
      background-color: transparent;
      // width of the form without padding-inline of form element * 2
      width: calc(290px - (vars.$space-S * 2));
      border-color: lighten(vars.$col-secondary, 10%);
    }
    
    
}