@use './../../styles/utils/vars';

.selectContainer label {
  display: block;
  margin-block-start: vars.$space-XS;
  margin-block-end: vars.$space-base;
}

.selectContainer select {
  width: 100%;
  height: 30px;
  border: 1px inset vars.$col-secondary;
  border-radius: vars.$radius-S;

  &:hover, &:focus {
    box-shadow: 0 0 5pt 0.5pt vars.$col-box-shadow;
    transition: 0.3s ease-in-out;
  }
}