// To be able to use math.div
@use "sass:math";

// ====== FONT FAMILY ======

$font-text: 'Montserrat', sans-serif;

// ====== COLORS ======

$col-black: hsl(0deg, 0%, 0%);
$col-white: hsl(0, 0%, 100%);

// ====== FONT-SIZE ======

$fsize-11px: 0.687rem;
$fsize-12px: 0.75rem;
$fsize-14px: 0.875rem;
$fsize-15px: 0.9375rem;
$fsize-16px: 1rem;
$fsize-17px: 1.0625rem;
$fsize-18px: 1.125rem;
$fsize-19px: 1.1875rem;
$fsize-20px: 1.25rem;
$fsize-21px: 1.3125rem;
$fsize-24px: 1.5rem;
$fsize-32px: 2rem;
$fsize-52px: 3.25rem;

$fsize-404-mobile: 6rem;
$fsize-404-desktop: 18rem;

// ====== FONT WEIGHT ======

$fweight-regular: 400;
$fweight-medium: 500;
$fweight-bold: 700;

// ====== SPACING ======

$space-base: 8px;
$space-XS: 16px;
$space-S: 24px;
$space-M: 32px;
$space-L: 40px;
$space-XL: 48px;

// ====== SIZES (HEIGHT, WIDTH) ======

// ====== RADIUS ======