@use './../../styles/utils/vars';

.searchBar__container {
  align-self: flex-end;
  position: relative;

  & input {
    margin-inline-start: vars.$space-base;
    height: 30px;
    border: 1px inset vars.$col-secondary;
    border-radius: vars.$radius-S;
    // padding-inline-end: 25px;
  }

  // & img {
  //   width: 15px;
  //   height: 15px;
  //   position: absolute;
  //   top: 8px;
  //   right: 8px;
  // }

  @media screen and (max-width: 620px) {
    align-self: center;
    display: flex;
    align-items: center;

    & input {
      flex-grow: 2;
    }
  }
}