@use './../../styles/utils/vars';

.employeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$space-M;
    padding-block-end: vars.$space-M;
}