@use './../../styles/utils/vars';

.employeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$space-M;
    padding-block-end: vars.$space-M;
    width: 90%;
    margin-inline: auto;
    animation-duration: 600ms;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInTop;

    @media screen and (max-width: 1350px) {
      width: 95%;
    }

    @media screen and (max-width: 1150px) {
      width: 60%;
    }

    @media screen and (max-width: 850px) {
      width: 75%;
    }

    @media screen and (max-width: 600px) {
      width: 95%;
    }

    &__editButton {
      background-color: darken(vars.$col-secondary, 5%);
      border-radius: vars.$radius-S;
      width: 240px;
      padding: 8px 20px;
      color: vars.$col-white;
      transition: 0.3s ease-in-out;
    }

    &__editButton:hover {
      background-color: darken(vars.$col-secondary, 15%);
      
    }
}